.message {
  display: flex;
  width: fit-content !important;
  max-width: 80%;
  align-items: flex-start;
  margin-bottom: 3px;
  min-width: 200px;
}

.message:last-of-type {
  margin-bottom: 10%;
}
.message > img {
  width: 20px;
  aspect-ratio: 1;
  object-fit: cover;
}
.message__main {
  background-color: var(--primary);
  margin-left: 4px;
  border-radius: 5px;
  padding: 5px;
  flex: 1;
}
.message__main > h1 {
  color: white;
  margin-bottom: 0;
  font-size: 0.9rem;
}
.message__main > p {
  margin-bottom: 0;
  color: white;
}
.message__main__info > p {
  background-color: transparent;
  margin-bottom: 0;
  font-size: 0.76rem;
}
