@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
  margin: 0;
  padding: 0;
  border-radius: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  --main-color: #082032;
  --main-primary: #2c394b;
  --main-secondary: #334756;
  --main-tertiary: #ff4c29;
}
