@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
  margin: 0;
  padding: 0;
  border-radius: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  --main: #082032;
  --primary: #2c394b;
  --secondary: #334756;
  --tertiary: #ff4c29;
}
