.app__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 20px;
  background-color: var(--main);
  justify-content: space-between;
  position: sticky;
  z-index: 20;
  align-items: center;
  top: 0;
  user-select: none;
  -webkit-user-drag: none;
}
.app__header__left > img {
  -webkit-user-drag: none;
  user-select: none;
  user-zoom: none;
  width: 50px;
  cursor: pointer;
}
.app__header__left > div {
  display: none;
}
.app__header__right {
  display: flex;
}

.app__header__right > a,
.app__header__left > div > a {
  color: white;
  margin-left: 10px;
  text-decoration: underline;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 20px 0;
}
@media only screen and (max-width: 768px) {
  .app__header {
    justify-content: center;
  }
  .app__header__left > div {
    display: flex !important;
  }
  .app__header__left > img {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .app__header {
    padding: 0px 10px;
  }
}
