.chat {
  display: flex;
  justify-content: space-between;
  user-select: none;
  user-zoom: none;
  cursor: pointer;
  background-color: var(--primary);
  position: relative;
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 5px;
}
.chat p {
  margin-bottom: 0;
}
.chat__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.chat > img {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;
  -webkit-user-drag: none;
}
.chat__main > h1 {
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
}

.chat__main > p {
  margin: 0;
  text-overflow: ellipsis !important;
  overflow: hidden;
  min-width: 0;
  color: white;
  white-space: nowrap;
}
.chat__main__dot {
  width: 10px;
  height: 10px;
  background-color: var(--tertiary);
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 50%;
}
.chat:hover {
  background-color: var(--secondary);
}
.chat__main__info > p {
  font-size: 0.8rem;
}
.chat__delete__button {
  height: 100%;
  background-color: var(--tertiary);
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  font-size: 2rem;
  padding: 0px 10px;
  transition: all 1s ease;
  display: none;
  z-index: 1;
}
.chat__delete__button:hover {
  background-color: var(--main);
}
.chat__delete__button:last-of-type {
  background-color: var(--main);
}
.chat__delete__button:last-of-type:hover {
  background-color: var(--secondary);
}
.chat:hover .chat__delete__button {
  display: flex;
}
.chat__buttons {
  display: flex;
  flex-direction: row;
}
