.pet__page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}
.pet__page__comments__comments > p {
  padding: 30px 10px;
  text-align: center;
  user-select: none;
  font-size: 1rem;
}
.pet__page::-webkit-scrollbar {
  display: none;
}
.pet__page__pet__container {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  flex: 1;
}
.pet__page__pet {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

.pet__page__pet > h1 {
  color: white;
  font-size: 1rem;
  margin: 0;
}
.pet__page__pet > p {
  margin-bottom: 0;
}
.pet__page__pet > img {
  object-fit: cover;
  margin: 5px 0;
  width: 100%;
  height: 300px;
  -webkit-user-drag: none;
}
.pet__page__comments {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}
.pet__page__comments > form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.pet__page__comments__input {
  flex: 1;
  resize: none !important;
}
.pet__page__comments__btn {
  margin-left: 10px !important;
  background-color: var(--main) !important;
}
.pet__page__comments > h1 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0;
}
.pet__page__comments__comments {
  flex: 1;
  background-color: var(--secondary);
  margin: 10px 0;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  padding: 10px;
}
.pet__page__pet__reaction {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.pet__page__pet__reaction > div {
  display: flex;
  align-items: center;
}
.pet__page__pet__reaction > div > p {
  font-size: 1.2rem;
  cursor: pointer;
}

.pet__page__pet__price {
  color: white !important;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.pet__page__pet__button,
.pet__page__pet__button__disabled {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  background-color: var(--main);
  cursor: pointer;
  color: white;
}
.pet__page__pet__button__disabled {
  background-color: gray;
  cursor: unset;
}

.pet__page__reactions__popup {
  padding: 0 !important;
}
.pet__page__pet__reaction__button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: white;
  background-color: var(--main);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}

.pet__page__comments__comments::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 768px) {
  /* iPads, Tablets */
  .pet__page__pet__container {
    flex-direction: column;
  }
}
