.pet__page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}
.pet__page__comments__comments > p {
  padding: 30px 10px;
  text-align: center;
  user-select: none;
  font-size: 1rem;
}
.pet__page::-webkit-scrollbar {
  display: none;
}
.pet__page__pet__container {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  flex: 1;
}
.pet__page__no__pet {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.pet__page__no__pet > p {
  user-select: none !important;
  color: white;
  font-size: 1.1rem !important
  ;
}

@media only screen and (max-width: 768px) {
  /* iPads, Tablets */
  .pet__page__pet__container {
    flex-direction: column;
  }
}
