.edit__pet {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--primary);
  flex-direction: column;
  display: flex;
  align-items: center;
  user-select: none;
  user-zoom: none;
}
.edit__pet__preview__image {
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.edit__pet__preview__image > img {
  height: 100%;
  object-fit: contain;
  -webkit-user-drag: none;
}
.edit__pet::-webkit-scrollbar {
  display: none;
}
.edit__pet__form > h1 {
  color: white !important;
  text-align: center;
}
.edit__pet::-webkit-scrollbar {
  display: none;
}
.edit__pet__form__input {
  margin-bottom: 10px !important;
}
.edit__pet__form {
  margin: 10px;
  width: 100%;
  max-width: 500px !important;
}
.edit__pet__form > label {
  margin-bottom: 10px !important;
  background-color: white !important;
  height: 100px;
  display: flex;
  flex-direction: column;
  border: 1px dashed var(--secondary);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.edit__pet__create__btn {
  background-color: var(--secondary) !important;
  margin: 30px 0 !important;
}
.edit__pet__form__dragzone {
  font-size: 1.2rem;
  color: var(--main);
}
.edit__pet__buttons {
  display: flex;
  justify-content: space-between;
}
