.seller__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  user-select: none;
}
.seller__card__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.seller__card__top > img {
  width: 80px;
  height: 80px;
  -webkit-user-drag: none;
  user-zoom: none;
  margin: 0 !important;
  object-fit: cover;
}
.seller__card__top__left > h1 {
  color: white;
  margin: 0 !important;
  font-size: 1.3rem;
}
.seller__card__top__left > p {
  margin-top: 0 !important;
}
.seller__card__top__left {
  flex: 1;
}
@media only screen and (max-width: 768px) {
  /* iPads, Tablets */
}
