.profile {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--primary);
  position: relative;
}
.profile::-webkit-scrollbar {
  display: none;
}
.profile__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
