.profile__delete__account {
  display: flex;
  margin: 10px auto;
  background-color: var(--main);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
  user-select: none;
  user-zoom: none;
  max-width: 1000px;
  margin: 10px auto;
}

.profile__delete__account > form > button {
  width: 200px;
  transition: all 1s;
  background-color: var(--tertiary) !important;
}
.profile__delete__account > h1 {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 5px !important;
}
.profile__delete__account > p {
  color: var(--tertiary) !important;
  margin-bottom: 10px !important;
}

.profile__delete__account__inputs {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.profile__delete__account__input {
  flex: 1;
}

.profile__delete__account__input:last-of-type {
  margin-left: 10px !important;
}

@media only screen and (max-width: 768px) {
  .profile__delete__account__input:last-of-type {
    margin: unset !important;
    margin-top: 5px !important;
  }
  .profile__delete__account__inputs {
    flex-direction: column;
  }
}
