.header__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  cursor: pointer;
  padding: 20px;
  justify-content: center;
  transition: all 1s;
  position: relative;
}
.header__button__dot {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--tertiary);
  z-index: 10;
  border-radius: 50%;
}

.header__button:hover {
  background-color: var(--color-green);
}
.header__button > p {
  color: white;
  font-size: 0.8rem;
  margin-top: 3px;
}

.header__button__icon {
  color: white !important;
  font-size: 3rem;
}
