.footer {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: var(--main);
  padding: 5px 5px 15px 5px;
  justify-content: center;
}
.footer > p {
  color: white;
  font-size: 0.9rem;
}
