.notification {
  display: flex;
  flex-direction: column;
  user-select: none;
  user-zoom: none;
  cursor: pointer;
  background-color: var(--primary);
  padding: 5px;
  margin-bottom: 1px;
  border-radius: 2px;
  transition: all 1s;
}
.notification > h1 {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0;
}
.notification > p {
  margin: 0;
  text-overflow: ellipsis !important;
  overflow: hidden;
  min-width: 0;
  white-space: nowrap;
}
.notification__info > p {
  margin: 0;
  font-size: 0.9rem;
}
.notification:hover {
  background-color: var(--secondary);
}
